@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  input[type=text]{
    background-color: theme(colors.bluez.500)
  };
  input:focus {
    outline:none;
    outline-width: 0;
    outline-color: transparent;
  }

  input[type=number]{
    -moz-appearance: textfield;
  }

}

@font-face {
  font-family: "saiba";
  font-style: normal;
  font-display: block;
  src: local("Saiba-45"), url("/fonts/saiba/SAIBA-45.woff") format("woff")
}

@font-face {
  font-family: "tekex";
  font-style: normal;
  font-display: block;
  src: local("Tekex"), url("/fonts/ncof_tekex/Tekex-Regular.otf") format("otf")
}

@font-face {
  font-family: "discog";
  font-style: normal;
  font-display: block;
  src: local("Discognate"), url("/fonts/discognate/discog.ttf") format("ttf")
}

@font-face {
  font-family: "miracode";
  font-style: normal;
  font-display: block;
  src: local("Miracode"), url("/fonts/miracode/Miracode.ttf") format("ttf")
}

@font-face {
  font-family: "greenwash";
  font-style: normal;
  font-display: block;
  src: local("GreenwashingMachine"),
    url("/fonts/greenwashing/GreenwashingMachine.ttf") format("ttf")
}

@font-face {
  font-family: "audiowide";
  font-style: normal;
  font-display: block;
  src: local("Audiowide"),
    url("/fonts/audiowide/audiowide-latin-400-normal.woff2") format("woff2")
}


@layer base {

  @property --screen-bg-default {

    syntax:"<color>";
    inherits:false;  
    initial-value: theme(colors.gray.800);
  }

  @property --contacts-bg-color {

    syntax:"<color>";
    inherits:false;
    initial-value: theme(colors.matte.200);
  }

  @property --equip-bg-color {

    syntax:"<color>";
    inherits:false;
    initial-value: theme(colors.gray.800);
  }

  @property --pack-bg-color {

    syntax:"<color>";
    inherits:false;
    initial-value: theme(colors.gray.800);
  }

  @property --home-bg-color {

    syntax:"<color>";
    inherits:false;
    initial-value: theme(colors.matte.200);
  }
  
  @property --player-bg-color {

    syntax:"<color>";
    inherits:false;
    initial-value: theme(colors.matte.200);
  }

  @property --screen-bg-color {

    syntax:"<color>";
    inherits:false;  
    initial-value: theme(colors.gray.800);
  }


  
  @property --scrollbar-track-color {

    syntax:"<color>";
    inherits:false;  
    initial-value: theme(colors.gray.800);
  }

  @property --scrollbar-thumb-color {
    syntax:"<color>";
    inherits:false;  
    initial-value: theme(colors.blue.800);
  }
  :root {


  }
  
}

body *, *::before, *::after{
	box-sizing: border-box;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

body {
	width:100%;
  height:100vh;
	@apply  text-base font-discog;
}

#app {
  height:100%;
  width: 100%;
}

/*
old lava vals
  100: "#14bece",
  400: "#015870",
  500: "#27262e"
*/

@property --gradient-dir {
  syntax: "left | right";
  inherits: false;
  initial-value: right;
}

@property --throb-on-color {
  syntax: "<color>";
  inherits: false;
  initial-value: theme(colors.lava.200);
}
@property --throb-off-color {
  syntax: "<color>";
  inherits: false;
  initial-value: theme(colors.lava.300);
}


@property --gradient-start-color {
  syntax: "<color>";
  inherits: false;
  initial-value: theme(colors.blue.800);
}

@property --gradient-end-color {
  syntax: "<color>";
  inherits: false;
  initial-value: theme(colors.blue.600);
}


@property --neon-glow-size {
  syntax:"<length>";
  inherits: true;
  initial-value: 4px;
}

@property --text-glow-color {
  syntax:"<color>";
  inherits: true;
  initial-value: theme(colors.pink.400);
}

@property --neon-border {
  syntax:"<color>";
  inherits: true;
  initial-value: theme(colors.pink.400);
}

@property --racer-pos-x {
  syntax:"<length>|<percentage>";
  inherits: false;
  initial-value: 0%;
}

@property --racer-pos-y {
  syntax:"<length>|<percentage>";
  inherits: false;
  initial-value: 0%;
}

@keyframes auto-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}

.auto-fade {
  animation-name: auto-fade;
}

@keyframes border-racer {

  0%, 100% {
    --racer-pos-x: 0%;
    --racer-pos-y: 0%;
  }
  25% {
    --racer-pos-x:100%;
    --racer-pos-y: 0%;
  }
  50% {
    --racer-pos-x: 100%;
    --racer-pos-y: 100%;
  }
  75% {
    --racer-pos-x:0%;
    --racer-pos-y:100%;
  }

}

.matrix-glow {
  @apply p-1.5 rounded-md font-thin;
  --gradient-start-color: theme('colors.lime.400');
  --gradient-end-color: transparent;
  padding: 8.5px;
  border-image-source: radial-gradient(
    circle at var(--racer-pos-x)
    var(--racer-pos-y),
    var(--gradient-start-color) 0 2%,
    transparent 8% 100% );
  border-image-width: 4px;
  border-image-slice: 12 12;
  border-image-outset: 0px;
  border-radius: 2px;
  color: theme('colors.green.700');
  box-shadow: 0 0 2px 1px theme(colors.green.600),
				0 0 2px 1px theme(colors.green.600) inset;
  animation: 2s linear 0s infinite normal forwards running border-racer;

}

.gradient-pink {
  @apply bg-gradient;
  --gradient-start-color: theme('colors.pink.800');
  --gradient-end-color: theme('colors.pink.500');

}

@property --border-glow-size {
  syntax:"<length>";
  inherits: false;
  initial-value: 4px;
}

@property --text-glow-size {
  syntax:"<length>";
  inherits: false;
  initial-value: 2px;
}

.t {
  background-color: theme('colors.amber.500');
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}